.green-color {
  color: #f9b34e !important;
}
.gray-color {
  color: #748fb5 !important;
}

.white-color {
  color: #fff;
}

.passive-color {
  color: #b5b5b5 !important;
}
.gray-100 {
  color: #7c7e89 !important;
}

.pink-color {
  color: #c868c4 !important;
}

.gray-200 {
  color: #b5b5b5 !important;
}

.red-color {
  color: #ff4e4e !important;
}
.Active-color {
  color: #6ece7b !important;
}
.Upcoming-color {
  color: #f9b34e !important;
}
.Ended-color {
  color: #748fb5 !important;
}
