/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  &.landingheader {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#header-two {
  background: #f5f5f5;
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  &.landingheader {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero {
  &.dark {
    #header.fixed-top {
      background: #28324b;
    }
  }
  &.light {
    #header.fixed-top {
      background: #fff;
    }
  }
}

.scrolled-offset {
  margin-top: 70px;
}

.sub-header {
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
 
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  
  @include themify($themes) {
    background: themed("bg-body");
    color: themed("text-2");
  }
}
